.myForm {
    background-color: rgba(0,0,0,0.5) !important;
    padding: 15px !important;
    border-radius: 15px !important;
    color: white;
}

}
h4
{
	font-weight: bold;
	font-style: italic;
	font-size: 50px;
}